<h1>Create Recipe</h1>

<form method="post" action='/recipes'>
<h3><label for='name'>Name: </label></h3>
<p><input type='text' id='name' name='name'></p>

<h3><label for='ingredients'>Ingredients: </label></h3>
<p><input type='text' id='ingredients' name='ingredients'></p>

<h3><label for='cook_time'>Cook Time: </label></h3>
<p><input type='text' id='cook_time' name='cook_time'>
<br>
<br>
<input type='submit' id='create' value='Create'>
</form>